* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html, body {
  height: 100%;  
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

.max-width-wrapper {  
  max-width: 620px;
  margin: 0 auto;
}

main {
  background-color: hsl(0deg, 0%, 30%);
}

p {
  line-height: 1.25;
}

.intro-chunk {
  padding: 64px 16px 32px 16px;  
}

header p {
  max-width: 320px;
}

main .max-width-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main .card {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);  
}

.card {
  padding: 2px 16px 24px 16px;
  background-color: hsl(0deg, 0%, 100%);
  width: fit-content;
}


.indented-heading {
  border-bottom: 8px solid hsl(45deg, 100%, 40%);  
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;    
  margin-left: -24px;
  margin-top: 4px;
  padding: 8px 24px 8px 24px;
}

